// nav bar section sticky style
#main {
    margin-top: 150px;

    .header-content {
        p {
            @extend .py-3;
            color: map-get($colors, info )
        }

        iframe{
            @extend .my-3;
            border-radius: 20px;
        }

        .btn-order{
            position: relative;
            @extend .flex-container;
        }
    }

    

}