nav {
    @extend .py-5;
   
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    transition: 0.6s ease-in-out;

    

    .logo img {
        width: 100%;
    }

    ul {
        display: flex;

        li {
            a {
                @extend .m-1;
                @extend .px-4;
                @extend .flex-container;

                height: 40px;
                line-height: 43px;
                font-size: 0.9rem;
                transition: all 0.2s ease;
                color: map-get($colors, info );

                &:hover {
                    color: map-get($colors, primary);
                }
            }
        }
    }



    .burger-menu {
        display: none;
        position: absolute;
        top: 40px;
        right: 40px;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 45px;
        cursor: pointer;
        z-index: 9;

        span {
            height: 5px;
            width: 100%;
            border-radius: 0.1rem;
            background: map-get($colors, primary );
            transition: ease-out 0.3s;
        }
    }
}

.active {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.15);
    background-color: #000;
}